<section id="journal_body">
  <!-- All the buttons to edit the Journals -->
  <div id="journal-body">
	<button class="button">+ New Entry</button>
	<button class="button">Edit Entry</button>
	<button class="button">Delete Entry</button>

  <!-- Grab all the dates from the Journal Entries -->
  
  	{{outlet}}
  </div>
</section>